#map {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    min-height: calc(100vh - 300px);
}

@media (max-width: 720px)
{
  #map {
    min-height: calc(100vh - 400px);
  }
}