#map {
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    min-height: calc(100vh - 300px);
}

@media (max-width: 720px)
{
  #map {
    min-height: calc(100vh - 400px);
  }
}

#map:first-child {
  margin-left: -15px;
}